* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;  
}
.container
{
  width:100%;
  min-height:100vh;
  padding:10px;
  
}
.todo-list
{
  width:100%;
  max-width:540px;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 15px;
  background-image: linear-gradient(to bottom right,rgb(245, 244, 244),rgb(148, 219, 247),rgb(188, 188, 255));
  box-shadow: 0px 0px 15px 0px rgb(66, 65, 65);
}
.todo-list h2{
  display: flex;
    color: darkcyan;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 30px;
}
/***************************Input Box ******************/

.row
{
  display:flex;
  align-items:center;
  justify-content: space-between;
  background:white;
  padding-left: 20px;
  border-radius:25px;
  margin-bottom: 25px;
}
input{
  position: relative;
  flex: 1;
  border: none;
  outline: none;
  background: none;
  padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 14px 40px;
    background: darkcyan;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
/********************* Middle of todoList *************/

.mid
{
  display:flex;
  font-size:1.2rem;
  margin-bottom:30px;
  margin-left:10px;
}
#completed
{
  margin-left:5px;
  cursor:pointer;

}
#clear
{
  margin-left:210px;
  cursor:pointer;
}
/***********************Todo List ********************/

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li
{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  align-items: center;
}
ul li:hover
{
  background: #f3f3f3;
}
#list input
{
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

#list label
{
  position: relative;
  cursor: pointer;
}

#list label:before
{
  content:'';
  --webkit-appearance: none;
  background-color: white;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}
#list input:checked + label:after
{
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
#list input:checked + label:before
{
  background: #0079bf;
} 
#list input:checked + label
{
  text-decoration: line-through;
}
.delete
{
  margin-top:5px;
  height: 47px;
  padding: 6px 0px;
  border-radius: 25px;
}
.delete:hover
{
  background: #f2f2f2;
  cursor: pointer;
}
h1
{
  text-align: center;
}
.add-task
{
    width: 100%;
    outline: none;
    font-size: 15px;
    padding: 11px;
    border: 1px solid #f3f3f3;
    margin-bottom: 3px;
}
#total-tasks
{
  margin-bottom: 20px;
  font-size: 13px;
  margin-left: 2px;
  color: black;
}

/*****************Filter list*************** */

.filters
{
  position: relative;
  margin-top:20px;
  margin-left:260px;
 
}
.filter-content
{
  position: absolute;
}
.filter-content a
{
  color:rgb(3, 44, 44);
  text-decoration:none;
  font-size:18px;
}
.completed-task
{
  display: inline-block;
}
.remaining-task
{
  display: inline-block;
  margin-left: 20px;
  color:rgb(232, 232, 232);
} 
/********************** Responsive ******************/
@media only screen and (max-width: 480px) {
  .container {
      margin: 0 10px;
      max-width: 96%;
      min-width: 96%;
  }
  #clear
  {
  margin-left:70px;
  }
  .filter-content a
  {
    display:none;
  }
}
